.container{
    margin: 0px auto;
    padding:;
    }
    .top-nav {
    
    
    }
    .side-nav {
    
    display: inline-block;
    
    }
    .main {
    
    display: inline-block;
    vertical-align: top;
    
    }
    .sub-content {
    
    display: inline-block;
    
    }
    #advertisement {
    
    }