*{
    padding: 30;
    margin: 30;
}

body{
    font-family: Arial, sans-serif;
}
.top{
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: white;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.title{
    text-align: start;
    padding: 20px;
    border-bottom: solid 1px grey;
    margin-bottom: 20px;
}
.top h1{
    text-align: left;
    padding: 10px;
}
.row{
    display: flex;
}
.left{
    flex:1;
}
.right{
    flex:2;
    margin-left: 20px;
}